# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# CocoaPods / Carthage (미사용이지만 안전상)
Pods/
Carthage/Build/
